* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

section#score {
  width: 100%;
}

#board {
  width: 500px;
  height: 500px;
  margin: 1em auto;
}

#board  > div {    
  border: 1px solid black;
  float: left;
  width: 50px;
  height: 50px;
}

section#score div {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.75);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

section#over div h1,h2 {
    
    position: absolute;
    left: 50%;
    top: 45%;
    transform:translate(-50%, -50%);
    font-size: 64px;
    font-family: sans-serif;
}

h2 {
    font-size: 46px;
    margin-top: 70px;
}

.invisible {
  display: none;
}